apiVersion: apps/v1
kind: Deployment
metadata:
  name: guestbook-ui
spec:
  replicas: 3
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: guestbook-ui
  template:
    metadata:
      labels:
        app: guestbook-ui
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/zen-gke-test-1/hello-repo/hello-app:v1
        name: guestbook-ui
        ports:
        - containerPort: 80
