apiVersion: apps/v1
kind: Deployment
metadata:
  name: guestbook-ui
spec:
  replicas: 3
  revisionHistoryLimit: 5
  selector:
    matchLabels:
      app: guestbook-ui
  template:
    metadata:
      labels:
        app: guestbook-ui
    spec:
      containers:
      - image: gcr.io/heptio-images/ks-guestbook-demo:0.1
        name: guestbook-ui
        ports:
        - containerPort: 80
      resources:
        limits:
         cpu: 1000m
         memory: 128Mi
        requests:
         cpu: 1000m
         memory: 128Mi
      
# gcr.io/heptio-images/ks-guestbook-demo:0.1
