apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: controller-manager
  name: kube-green
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    cert-manager.io/inject-ca-from: kube-green/kube-green-serving-cert
    controller-gen.kubebuilder.io/version: v0.9.2
  name: sleepinfos.kube-green.com
spec:
  group: kube-green.com
  names:
    kind: SleepInfo
    listKind: SleepInfoList
    plural: sleepinfos
    singular: sleepinfo
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: SleepInfo is the Schema for the sleepinfos API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: SleepInfoSpec defines the desired state of SleepInfo
            properties:
              excludeRef:
                description: ExcludeRef define the resource to exclude from the sleep.
                items:
                  properties:
                    apiVersion:
                      description: ApiVersion of the kubernetes resources. Supported
                        api version is "apps/v1".
                      type: string
                    kind:
                      description: Kind of the kubernetes resources of the specific
                        version. Supported kind is "Deployment".
                      type: string
                    name:
                      description: Name which identify the kubernetes resource.
                      type: string
                  required:
                  - apiVersion
                  - kind
                  - name
                  type: object
                type: array
              sleepAt:
                description: "Hours:Minutes \n Accept cron schedule for both hour
                  and minute. For example, *:*/2 is set to configure a run every even
                  minute."
                type: string
              suspendCronJobs:
                description: If SuspendCronjobs is set to true, on sleep the cronjobs
                  of the namespace will be suspended.
                type: boolean
              suspendDeployments:
                description: If SuspendDeployments is set to false, on sleep the deployment
                  of the namespace will not be suspended. By default Deployment will
                  be suspended.
                type: boolean
              timeZone:
                description: Time zone to set the schedule, in IANA time zone identifier.
                  It is not required, default to UTC. For example, for the Italy time
                  zone set Europe/Rome.
                type: string
              wakeUpAt:
                description: "Hours:Minutes \n Accept cron schedule for both hour
                  and minute. For example, *:*/2 is set to configure a run every even
                  minute. It is not required."
                type: string
              weekdays:
                description: "Weekdays are in cron notation. \n For example, to configure
                  a schedule from monday to friday, set it to \"1-5\""
                type: string
            required:
            - sleepAt
            - weekdays
            type: object
          status:
            description: SleepInfoStatus defines the observed state of SleepInfo
            properties:
              lastScheduleTime:
                description: Information when was the last time the run was successfully
                  scheduled.
                format: date-time
                type: string
              operation:
                description: The operation type handled in last schedule. SLEEP or
                  WAKE_UP are the possibilities
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: kube-green-controller-manager
  namespace: kube-green
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: kube-green-leader-election-role
  namespace: kube-green
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: kube-green-manager-role
rules:
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - batch
  resources:
  - cronjobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kube-green.com
  resources:
  - sleepinfos
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kube-green.com
  resources:
  - sleepinfos/finalizers
  verbs:
  - update
- apiGroups:
  - kube-green.com
  resources:
  - sleepinfos/status
  verbs:
  - get
  - patch
  - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kube-green-metrics-reader
rules:
- nonResourceURLs:
  - /metrics
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kube-green-proxy-role
rules:
- apiGroups:
  - authentication.k8s.io
  resources:
  - tokenreviews
  verbs:
  - create
- apiGroups:
  - authorization.k8s.io
  resources:
  - subjectaccessreviews
  verbs:
  - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: kube-green-leader-election-rolebinding
  namespace: kube-green
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: kube-green-leader-election-role
subjects:
- kind: ServiceAccount
  name: kube-green-controller-manager
  namespace: kube-green
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: kube-green-manager-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: kube-green-manager-role
subjects:
- kind: ServiceAccount
  name: kube-green-controller-manager
  namespace: kube-green
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: kube-green-proxy-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: kube-green-proxy-role
subjects:
- kind: ServiceAccount
  name: kube-green-controller-manager
  namespace: kube-green
---
apiVersion: v1
data:
  controller_manager_config.yaml: |
    apiVersion: controller-runtime.sigs.k8s.io/v1alpha1
    kind: ControllerManagerConfig
    health:
      healthProbeBindAddress: :8081
    metrics:
      bindAddress: 127.0.0.1:8080
    webhook:
      port: 9443
    leaderElection:
      leaderElect: true
      resourceName: 2bd226ed.kube-green.com
kind: ConfigMap
metadata:
  name: kube-green-manager-config
  namespace: kube-green
---
apiVersion: v1
kind: Service
metadata:
  labels:
    control-plane: controller-manager
  name: kube-green-controller-manager-metrics-service
  namespace: kube-green
spec:
  ports:
  - name: https
    port: 8443
    protocol: TCP
    targetPort: https
  selector:
    control-plane: controller-manager
---
apiVersion: v1
kind: Service
metadata:
  name: kube-green-webhook-service
  namespace: kube-green
spec:
  ports:
  - port: 443
    protocol: TCP
    targetPort: 9443
  selector:
    control-plane: controller-manager
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: kube-green
    control-plane: controller-manager
  name: kube-green-controller-manager
  namespace: kube-green
spec:
  replicas: 1
  selector:
    matchLabels:
      control-plane: controller-manager
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        app: kube-green
        control-plane: controller-manager
    spec:
      containers:
      - args:
        - --health-probe-bind-address=:8081
        - --metrics-bind-address=127.0.0.1:8080
        - --leader-elect
        command:
        - /manager
        image: kubegreen/kube-green:0.4.1
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        name: manager
        ports:
        - containerPort: 9443
          name: webhook-server
          protocol: TCP
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: 400m
            memory: 200Mi
          requests:
            cpu: 100m
            memory: 50Mi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
        volumeMounts:
        - mountPath: /tmp/k8s-webhook-server/serving-certs
          name: cert
          readOnly: true
      - args:
        - --secure-listen-address=0.0.0.0:8443
        - --upstream=http://127.0.0.1:8080/
        - --logtostderr=true
        - --v=0
        image: gcr.io/kubebuilder/kube-rbac-proxy:v0.13.0
        name: kube-rbac-proxy
        ports:
        - containerPort: 8443
          name: https
          protocol: TCP
        resources:
          limits:
            cpu: 500m
            memory: 128Mi
          requests:
            cpu: 5m
            memory: 64Mi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      serviceAccountName: kube-green-controller-manager
      terminationGracePeriodSeconds: 10
      volumes:
      - name: cert
        secret:
          defaultMode: 420
          secretName: webhook-server-cert
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: kube-green-serving-cert
  namespace: kube-green
spec:
  dnsNames:
  - kube-green-webhook-service.kube-green.svc
  - kube-green-webhook-service.kube-green.svc.cluster.local
  issuerRef:
    kind: Issuer
    name: kube-green-selfsigned-issuer
  secretName: webhook-server-cert
---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: kube-green-selfsigned-issuer
  namespace: kube-green
spec:
  selfSigned: {}
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  annotations:
    cert-manager.io/inject-ca-from: kube-green/kube-green-serving-cert
  name: kube-green-validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: kube-green-webhook-service
      namespace: kube-green
      path: /validate-kube-green-com-v1alpha1-sleepinfo
  failurePolicy: Fail
  name: vsleepinfo.kb.io
  rules:
  - apiGroups:
    - kube-green.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - sleepinfos
  sideEffects: None
